<% @posts.each do |post| %>
  <p>
    <small><%= post.category && post.category.name %></small><br>
  	<% if post.image? %>
      <%= link_to image_tag(post.image.url(:thumb)), post_path(post) %><br>
    <% end %>
    <%= link_to post.title, post_path(post) %>
  </p>
<% end %>

<% if @posts.blank? %>
  <h4>There are no Pins containing the term <%= params[:search] %>.</h4>
<% end %>